body{
    text-align: center;
    background-image:url("bg-img-blackjack.jpg") ;
    background-size: cover;
    color:red;
    font-size: 35px;
    margin: 0 0;
}

h1{
    
    color: gold;
    font-style: italic;
}

#message{
    font-size: 30px;
}

button{
    background-color: yellow;
    padding: 10px 10px;
    width: 200px;
    border:none;
    font-size: 20px;
    margin: 10px;
}

@media screen and (max-width:600px) {
    
    body{
        text-align: center;
        background-image:url("bg-img-blackjack2.jpg") ;
        background-size: cover;
        color:red;
        font-size: 20px;
    }
}